
.page_head_cart_heading {
    padding: 50px 0
}

.page_head_cart_heading:before {
    background-color: #000;
    opacity: 0.5
}

.page_head_cart_heading .parallax-inner {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center center;
}

@media (max-width: 1024px) {
    .cart_page_section .cat_img_trust img {
        width: 100% !important
    }
}

.template-cart .cart_threshold {
    padding: 8px 20px;
    box-shadow: none;
    border: 0;
    font-size: 14px;
    color: #222;
    line-height: normal
}

.template-cart .mini_cart_actions {
    margin-top: 0
}

.template-cart .mini_cart_actions .quantity {
    margin: 0 auto
}

.template-cart .cart_item {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    border-top: 1px solid #ddd;
    position: relative;
    overflow: hidden
}

.template-cart .cart_item:last-child {
    border-bottom: 1px solid #ddd
}

.template-cart .mini_cart_meta {
    font-size: 13px
}

.template-cart .cart_header {
    font-size: 14px;
    color: #222;
    text-transform: uppercase;
    font-weight: 600;
    padding: 20px 0 6px
}

.template-cart .page_cart_info img {
    min-width: 120px;
    max-width: 120px;
    display: block
}



.template-cart .shipping_calculator {
    position: relative;
    border: 1px solid #e3e3e3;
    padding: 50px 10px
}

.template-cart .shipping_calculator h3 {
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0;
    padding: 0 14px 0 18px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #fff;
    white-space: nowrap;
    display: inline-block;
    font-size: 24px;
    font-weight: 600
}




.checkout-section + .checkout-section {
    margin-top: 50px;
}

.gift_wrap_info svg {
    top: 4px
}

.shipping_calc_page.loading p {
    opacity: 0
}

.frm_cart_page .gift_item_true .mini_cart_title {
    pointer-events: none
}

.shipping_calc_page.loading .nt_svg_loader {
    display: block
}

.frm_cart_ajax_true .btn_update, .frm_cart_page .gift_item_true .mini_cart_actions .quantity {
    display: none
}

.frm_cart_ajax_true .btn_btn2t4, .frm_cart_ajax_true .btn_checkout {
    min-width: 280px
}

.frm_cart_page input[type=checkbox].js_agree_ck {
    display: none
}

.frm_cart_page #CartSpecialInstructions {
    min-height: 100px
}

.checkout-section__field {
    color: #333333;
    margin-bottom: 25px;
}

.checkout-section__field label {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
}

.order-review__title,
.checkout-section__title {
    line-height: 1.6em;
    display: block;
    padding-bottom: 10px;
    position: relative;
    border-bottom: 1px solid #dadada;
    margin: 0 0 15px;
}

.order-review__title::after,
.checkout-section__title::after {
    content: ' ';
    border-bottom: 2px solid var(--main-color);
    display: block;
    width: 20%;
    position: absolute;
    bottom: -1px;
    z-index: 1;
}

.order-review__wrapper {
    background-color: rgba(0,0,0,.07);
    border-radius: 3px;
    padding: 10px 10px;
    padding-top: 0!important;
}

.checkout-review-order-table thead,
.checkout-review-order-table tbody,
.checkout-review-order-table tbody,
.checkout-review-order-table tr,
.checkout-review-order-table th,
.checkout-review-order-table td,
.checkout-review-order-table {
    border: none;
    color: #333;
    margin-bottom: 0;
}

.checkout-review-order-table .product-quantity {
    margin-left: 5px;
}


.checkout-payment {
    border-top: 2px solid #dddddd;
}

.checkout-payment__confirm-terms-and-conditions,
.checkout-payment__policy-text {
    font-size: 14px;
    color: #333333;
    font-weight: 400;
    margin: 15px 0;
    display: block;
    line-height: 22px;
    padding: 5px;
}

.checkout-payment__btn-place-order {
    font-size: 17px;
    width: 100%;
    font-weight: 700;
    white-space: pre-wrap;
    padding: 15px;
    border-radius: 50px;
}

@media (max-width: 1024px) {
    .template-cart .cart_header {
        display: none
    }

    .template-cart .cart_item {
        padding-top: 0;
        padding-bottom: 15px;
        border: 1px solid #ddd
    }

    .template-cart .cart_item .row > :first-child {
        border-bottom: 1px solid #ddd;
        margin-bottom: 15px
    }

    .template-cart .cart_item:not(:first-child) {
        margin-top: 1.25rem
    }

    .template-cart .mini_cart_body {
        padding: 10px 5px 10px 0
    }
}

@media (max-width: 767px) {
    .template-cart .cart_item .cart_meta_prices, .template-cart .cart_item .mini_cart_actions {
        border-bottom: 1px solid #ddd;
        margin-bottom: 8px;
        padding-bottom: 8px
    }

    .frm_cart_page .gift_item_true .cart_meta_prices, .frm_cart_page .gift_item_true .mini_cart_actions {
        display: none
    }

    .template-cart .cart_item, .template-cart .cart_item:last-child {
        border: 0;
        border-bottom: 1px solid rgba(129, 129, 129, .2);
        padding-bottom: 20px
    }

    .template-cart .cart_item > .row {
        padding-top: 5px;
        padding-left: 140px;
        position: relative;
        min-height: 136px
    }

    .template-cart .mini_cart_body {
        margin-left: 0;
        padding: 0
    }

    .template-cart .cart_item .cart_meta_prices, .template-cart .cart_item .mini_cart_actions {
        border-bottom: 1px dashed rgba(129, 129, 129, .2)
    }

    .template-cart .cart_item .row > :first-child {
        position: static;
        border: 0;
        padding-bottom: 8px;
        margin-bottom: 8px;
        border-bottom: 1px dashed rgba(129, 129, 129, .2)
    }

    .template-cart .page_cart_info > a {
        position: absolute;
        left: 5px;
        top: 0
    }

    .template-cart .frm_cart_page .mini_cart_actions .quantity {
        margin: 0
    }

    .template-cart .cart_item:not(:first-child) {
        margin-top: 0;
        padding-top: 25px
    }
}

@media (min-width: 768px) {

}

.accordion-started.accordion-bral {
    min-height: 0;
    min-width: 220px;
    width: 100%;
    background-color: #FFF;
    margin: 0px!important;
    color: #484848;
}

.accordion-started.accordion-bral img {
    width: 100%;
    height: 100%;
}

.accordion-started.accordion-bral .ac-label {

    padding: 5px 20px;
    position: relative;
    display: block;
    height: auto;
    cursor: pointer;
    color: #137AAA;
    border:1px solid #ced4da;
    border-radius: 4px;

    line-height: 33px;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 5px;
    font-weight: bold;

    width: 100%;
}
.accordion-started.accordion-bral .ac-label:hover {

}
.accordion-started.accordion-bral input:checked + .ac-label,
.accordion-started.accordion-bral input:checked + .ac-label:active {
    border: 0px solid rgba(19, 122, 170, .5);
    background-color: rgba(19, 122, 170, .7);
    color: #fff;

}
.accordion-started.accordion-bral input.ac-input {

}
.accordion_div{
    display: block;
    margin-bottom: 5px;
}

.accordion_div .ac-input{
    display: none;
}


.accordion-started.accordion-bral .article {
    overflow: hidden;
    height: 0px;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.accordion-started.accordion-bral .article p {
    line-height: 23px;
    padding-left: 5px;
}

.accordion-started.accordion-bral input:checked ~ .article i {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.accordion-started.accordion-bral input:checked ~ .article.ac-content {
    height: auto;
}

/*









.accordion-started.accordion-bral i {
    position: absolute;
    transform: translate(-30px, 0);
    margin-top: 16px;
    right: 0;
}
.accordion-started.accordion-bral input:checked ~ .ac-label i:before {
    transform: translate(2px, 0) rotate(-45deg);
}
.accordion-started.accordion-bral input:checked ~ .ac-label i:after {
    transform: translate(-2px, 0) rotate(45deg);
}
.accordion-started.accordion-bral i:before, .accordion-bral i:after {
    content: "";
    position: absolute;
    background-color: #173B6B;
    width: 3px;
    height: 9px;
}
.accordion-started.accordion-bral i:before {
    transform: translate(-2px, 0) rotate(-45deg);
}
.accordion-started.accordion-bral i:after {
    transform: translate(2px, 0) rotate(45deg);
}


*/

.accordion-started ul.ac-list {
    padding-left: 40px;
    list-style-type: disc;
}
